## Ans 1 Creation of Series in Pandas

In [15]:

import pandas as pd

In [16]:
data = pd.Series([4,8,15,16,23,42])

In [17]:
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Ans 2

In [22]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [20]:
my_series = pd.Series(my_list)

In [21]:
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Ans 3 Creating Pandas Dataframe with given Data

In [25]:
data = {
    'Name': ['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}

In [29]:
df = pd.DataFrame(data)

In [30]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Ans 4

In Pandas, a DataFrame is a two-dimensional table of data with rows and columns, where each column can have a different data type. It is the most commonly used data structure in Pandas and can be thought of as similar to a spreadsheet or SQL table.

On the other hand, a Series is a one-dimensional labeled array that can hold data of any type. It can be thought of as a column in a DataFrame.

In [37]:
# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [35]:
# Create a Series from one of the columns in the DataFrame df
age_series = df['Age']

In [36]:
# print the Series 
print(age_series)

0    25
1    30
2    27
Name: Age, dtype: int64

## Ans 5 Pandas DataFrame Functions to manipulate data

There are many functions available in Pandas that you can use to manipulate data in a DataFrame. Here are some of the most common ones:

* df.head(n): returns the first n rows of the DataFrame.
* df.tail(n): returns the last n rows of the DataFrame.
* df.sort_values(): sorts the DataFrame by one or more columns.
* df.apply(): applies a function to each element or column of the DataFrame.

In [38]:
df.head(2)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [39]:
df.tail(2)

     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female

In [58]:
df['newName'] = df['Name'].apply(lambda x: x[1].upper())

In [59]:
print(df)

     Name  Age  Gender newName
0   Alice   25  Female       L
1     Bob   30    Male       O
2  Claire   27  Female       L

In [60]:
df.sort_values('Age')

     Name  Age  Gender newName
0   Alice   25  Female       L
2  Claire   27  Female       L
1     Bob   30    Male       O

## Ans 6

The Series and DataFrame objects are mutable in nature, which means that their values can be modified after they are created.

The Panel object, on the other hand, is deprecated in the latest version of Pandas (v1.3.4) and is no longer recommended for use.

## Ans 7

In [64]:
import pandas as pd

# create a Series for employee names
names = pd.Series(['Aniket', 'Bhavesh', 'Chirag', 'Dhiren'])

# create a Series for employee ages
ages = pd.Series([34, 25, 23, 38])

# create a Series for employee salaries
salaries = pd.Series([25000, 96000, 35500, 27000])

# create a dictionary of Series
data = {'Name': names, 'Age': ages, 'Salary': salaries}

# create a DataFrame from the dictionary of Series
df = pd.DataFrame(data)

# print the resulting DataFrame
print(df)

      Name  Age  Salary
0   Aniket   34   25000
1  Bhavesh   25   96000
2   Chirag   23   35500
3   Dhiren   38   27000